:root {
  --clr-primary-5: #2caeba;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family:  "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #2caeba;
  margin-left: auto;
  margin-right: auto;
}
h1{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 3rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}
.btn-container-accordion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
 

}
.acc-container{
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 10px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: #ffffff;
  display: flex;
  margin: 10px auto;
}
.job-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
.active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
  transition: 2 ease-in;
}

.tabs{
  display: block;
}
.accordion{
  display: none;
}
.titles{
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 600px) {
  .accordion{
    display: block;
   
  }
  .tabs{
    display: none;
  }

}